body {
  /* background-image:url('imagesGifs/dam2.gif'); */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed;
  height: 100%;
}

img {
  max-height: 350px;
}
/* top hp section */

.top-hp-bars,
.playerHP,
.opponentHP {
  display: flex;
}

.top-hp-bars {
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  padding: 50px;
}

.playerHP,
.opponentHP {
  background-color: rgb(255, 255, 255);
  border: rgb(43, 43, 43) solid 3px;
}

.playerHP div,
.opponentHP div {
  width: 70px;
  height: 70px;
  
}

.green {
  background-color: rgb(66, 224, 66);
  
}
/* mid section */

.middle-playerVS,
.playerBox,
.opponentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.middle-playerVS {
  flex: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
}

/*bottom move container */

.moveIMG{
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  object-position: center center;
  border: 5px solid red;
}

.moveIMGVS {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  object-position: center center;
}

.move-container button{
  margin: 0;
  padding: 0;
  max-height: 200px;
  max-width: 200px;
  
}