body {
  background-image:url('imagesGifs/dam2.gif');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed;
  height: 100%;
}

img {
  height: 350px;
}

.middle-playerVS,
.playerBox,
.opponentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.middle-playerVS {
  flex: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
}