/* * {
  border: red solid 1px;
} */

/* stuff starts breaking at height:700px,width:1000px */

html, body,.page-container {
  height: 100%;
}

body {
  /* background-image:url('imagesGifs/dam2.gif'); */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed;
}

img {
  max-height: 350px;
  max-width: 100%;
}
/* top hp section */

.top-hp-bars,
.playerHP,
.opponentHP {
  display: flex;
  text-align: center;
}

.top-hp-bars {
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border-bottom: 1px solid black;
}

.playerHP,
.opponentHP {
  background-color: rgb(255, 255, 255);
  border: rgb(43, 43, 43) solid 3px;
}

.playerHP div,
.opponentHP div {
  height: 70px;
  width: 70px;
}

.green {
  background-color: rgb(66, 224, 66);
}

.scoreSetter {
  width: 150px;
  text-align: center;
}
/* mid section */

.middle-playerVS,
.playerBox,
.opponentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.middle-playerVS {
  flex: 1;
}

.battleToScore {
  width: 150px;
  text-align: center;
}

.resetButton {
  border: none;
  color: white;
  background-color: darkblue;
}

.page-container {
  display: flex;
  flex-direction: column;
}

/*bottom move container */

.moveIMG{
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  object-position: center center;
  border: 5px solid red;
}

.moveIMGVS {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  object-position: center center;
}

.move-container {
  display: flex; 
  justify-content: center;
  gap: 10px;
  border-top: 2px solid black;
}

.move-container button{
  margin: 10px 0px;
  padding: 0;
  max-height: 150px;
  max-width: 150px;
  border: none;
}